:root {
  --emphasis: #64ffda;
}

.skills {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3em;
}

.skills li::before {
  content: "▹";
  left: 0px;
  color: var(--emphasis);
  line-height: 12px;
}

.about img {
  border-radius: 3%;
}

.img-container {
  position: relative;
  height: 200px;
  width: 200px;
  margin: auto;
}

.img-container::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: var(--emphasis);
  opacity: 0.5;
}

.img-shadow {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 100%;
  height: 100%;
  border: 3px solid var(--emphasis);
  border-radius: 3%;
  z-index: -1;
}
