footer {
  margin-bottom: 1em;
}

footer ul {
  display: flex;
  justify-content: space-between;
}

footer li {
  margin: 0px;
}

footer p {
  font-size: small;
  text-align: center;
  margin: 1em;
}

.stats {
  justify-content: space-around;
}

.stats span {
  display: inline-block;
  padding-right: 1em;
}

.stats li {
  font-size: small;
}

.fab {
  width: 1em;
}
