.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero h1 {
  padding: 0;
  margin: 0;
  font-size: 2em;
  font-weight: 400;
}

.hero h2 {
  margin: 0.7em 0;
  text-align: left;
  min-height: 11vh;
}

.hero p {
  padding: 0px;
  margin-bottom: 1em;
}
