.btn-wrapper {
  display: flex;
  margin-bottom: 1em;
  overflow-y: scroll;
}

.work button {
  border: none;
  margin-right: 1em;
}

.work li::before {
  content: "▹";
  left: 0px;
  color: var(--emphasis);
  line-height: 12px;
}
