@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,900;1,300;1,400&display=swap");

:root {
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --emphasis: #64ffda;
  --border-radius: 4px;
}

.blur {
  filter: blur(2px);
}

body,
h1,
h2,
h3,
h4,
p,
ul,
li,
a,
span {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--navy);
  padding: 0 25px;
  margin: auto;
}

h1,
h2 {
  color: var(--white);
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 2em;
}

h3 {
  color: var(--lightest-slate);
}

h4 {
  color: var(--emphasis);
  font-size: 1em;
  font-weight: 100;
}

p {
  color: var(--slate);
  margin-bottom: 15px;
}

a,
span {
  color: var(--emphasis);
}

ul span {
  font-size: medium;
  display: block;
}

li {
  color: var(--lightest-slate);
  list-style: none;
  margin-bottom: 10px;
}

button {
  width: 100%;
  margin-top: 1em;
  background-color: transparent;
  color: var(--emphasis);
  border: 1px solid var(--emphasis);
  border-radius: var(--border-radius);
  padding: 20px 30px;
  margin-top: 50px;
}

section {
  padding: 60px 0;
}

img {
  width: 100%;
  height: 100%;
}

i {
  color: var(--slate);
}

@media screen and (500px < width < 1000px) {
  body {
    background-color: ;
  }
}

@media screen and (1000px < width < 1920px) {
  body {
    background-color: orange;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
  }
}
