:root {
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --emphasis: #64ffda;
  --border-radius: 4px;
}

.nav {
  position: fixed;
  background-color: var(--light-navy);
  width: 100%;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  z-index: 999;
}

.logo {
  margin: 0 25px;
  padding: 15px;
  font-size: 1.5em;
}

.pages {
  position: absolute;
  margin: 0;
  padding: 0;
  right: 0;
  left: 0;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: var(--navy);
  font-size: 1.5em;
}

.btn {
  width: auto;
  margin: 0 25px;
  padding: 15px;
  z-index: 999;
  border: none;
}

.resume {
  width: 80%;
}

@media screen and (min-width: 1000px) {
  .nav {
    height: 100px;
  }

  .pages {
    display: flex;
  }

  .pages li {
    padding-right: 1em;
  }
}
